<h1 class="text-2xl font-semibold font-montserrat">All Products</h1>
<h3 class="text-lg">Amount of products:
  <span class="text-warning">{{productsResource.value()?.count}}</span>
</h3>

<div class="divider"></div>

<div class="px-10 flex justify-between items-center not-sm:flex-col gap-5">
  <app-pagination
  class="order-1"
  [currentPage]="paginationService.currentPage()"
  [pages]="productsResource.value()?.pages ?? 1"/>

  <button
    [routerLink]="['/admin/product/new']"
    class="btn btn-info sm:order-2">New Product</button>

  <select
    #amout
    (change)="productsPerPage.set(+amout.value)"
    class="not-sm:mb-5 select select-bordered w-32 not-sm:order-2 order-3">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
</div>

<product-table [products]="productsResource.value()?.products ?? []"/>
