<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost sm:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <a class="btn btn-ghost"
            [routerLink]="['/gender/men']"
            routerLinkActive="text-info"> Men </a>
        </li>
        <li>
          <a class="btn btn-ghost"
              [routerLink]="['/gender/women']"
              routerLinkActive="text-info"> Women </a>
        </li>
        <li>
          <a class="btn btn-ghost"
              [routerLink]="['/gender/kids']"
              routerLinkActive="text-info"> Kids </a>
        </li>

        @if(authService.isAdmin()) {
          <li>
            <a class="btn btn-ghost"
            [routerLink]="['/admin/products']"
            routerLinkActive="text-info"> Dashboard </a>
          </li>
        }
      </ul>
    </div>
    <a [routerLink]="['/']"
       class="btn btn-ghost text-xl font-montserrat"
      >Teslo
      <span class="text-info">| Shop</span>
    </a>
  </div>
  <div class="navbar-center hidden sm:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a class="btn btn-ghost"
           [routerLink]="['/gender/men']"
           routerLinkActive="text-info"> Men </a>
      </li>
      <li>
        <a class="btn btn-ghost"
            [routerLink]="['/gender/women']"
            routerLinkActive="text-info"> Women </a>
      </li>
      <li>
        <a class="btn btn-ghost"
            [routerLink]="['/gender/kids']"
            routerLinkActive="text-info"> Kids </a>
      </li>

      @if(authService.isAdmin()) {
        <li>
          <a class="btn btn-ghost"
          [routerLink]="['/admin/products']"
          routerLinkActive="text-info"> Dashboard </a>
        </li>
      }
    </ul>
  </div>
  <div class="navbar-end flex gap-2">
    @if (authService.authStatus() === 'authenticated') {
      <button class="btn btn-ghost">
        {{authService.user()?.fullName}}
      </button>
      <button
        (click)="authService.logout()"
        class="btn btn-warning">
        Log Out
      </button>
    }

    @else if (authService.authStatus() === 'not-authenticated') {
      <a
        [routerLink]="['/auth/login']"
        class="btn btn-warning">
        Log In
      </a>
    }

    @else {
      <a class="btn btn-ghost">
        Checking...
      </a>
    }
  </div>
</div>
