<h1 class="text-2xl font-montserrat mx-3">All Products</h1>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mt-2 gap-3">
  @for (product of productsResource.value()?.products; track product.id) {
    <product-card [product]="product"/>
  }

  @empty {
    @if (productsResource.isLoading()) {
      <p class="w-full text-center col-span-full mt-5 text-warning">Loading...</p>
    }
    @else {
      <p class="w-full text-center col-span-full mt-5 text-error">No products</p>
    }
  }
</div>

<app-pagination
  [pages]="productsResource.value()?.pages ?? 0"
  [currentPage]="paginationService.currentPage()"/>
