<!-- component -->
<main class="font-poppins antialiased overflow-x-hidden">
  <div
    id="view"
    class="h-full w-screen flex flex-row"
    x-data="{ sidenav: true }"
  >
    <div
      id="sidebar"
      class="bg-base-300 fixed h-screen md:block shadow-xl px-3 w-30 md:w-60 lg:w-60 overflow-x-hidden transition-transform duration-300 ease-in-out"
      x-show="sidenav"
    >
      <div class="space-y-6 md:space-y-10 mt-10">
        <h1>
          <a
            [routerLink]="['/']"
            class="btn btn-ghost hidden md:block font-bold md:text-xl text-center text-xl font-montserrat">Teslo
            <span class="text-info">| Shop</span>
          </a>
        </h1>
        <div id="profile" class="space-y-3">
          <img
            src="https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_1280.png"
            alt="Avatar user"
            class="w-10 md:w-16 rounded-full mx-auto"
          />
          <div>
            <h2
              class="font-medium text-xs md:text-sm text-center text-white">{{user()?.fullName}}
            </h2>
            <p class="text-xs text-warning text-center">Administrator</p>
          </div>
        </div>
        <div id="menu" class="flex flex-col space-y-2">
          <a
            [routerLink]="['/admin/dashboard']"
            routerLinkActive="bg-primary"
            class="text-sm font-medium text-white py-2 px-2 hover:bg-primary hover:text-white hover:text-base rounded-md transition duration-150 ease-in-out"
          >
            <svg
              class="w-6 h-6 fill-current inline-block"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
              ></path>
            </svg>
            <span class="">Dashboard</span>
          </a>
          <a
            [routerLink]="['/admin/products']"
            routerLinkActive="bg-primary"
            class="text-sm font-medium text-white py-2 px-2 hover:bg-primary hover:text-white hover:scale-105 rounded-md transition duration-150 ease-in-out"
          >
            <svg
              class="w-6 h-6 fill-current inline-block"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z"
              ></path>
            </svg>
            <span class="">Products</span>
          </a>

          <div class="divider my-2"></div>

          <div class="absolute w-[90%] flex bottom-2">
            <button
              (click)="authService.logout()"
              [routerLink]="['/']"
              class="w-full btn btn-ghost text-error hover:btn-error hover:text-white">Log Out
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="flex-1 p-5 ml-64">
      <router-outlet/>
    </div>
  </div>
</main>
